{
  "parser": "@typescript-eslint/parser",
  "extends": ["@open-wc/eslint-config", "eslint-config-prettier"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "wc/guard-super-call": "off",
    "no-case-declarations": "off",
    "no-console": "off",
    "consistent-return": "off",
    "dot-notation": "off",
    "no-await-in-loop": "off",
    "default-case": "off",
    "import/no-duplicates": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "import/no-unresolved": "off",
    "no-bitwise": "off",
    "no-shadow": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "camelcase": "off",
    "no-use-before-define": "off",
    "no-useless-constructor": "off",
    "no-else-return": "off",
    "no-empty-function": "off",
    "import/no-extraneous-dependencies": "off",
    "prefer-destructuring": "off",
    "no-param-reassign": "off",
    "lit-a11y/click-events-have-key-events": "off",
    "operator-assignment": "off",
    "no-lonely-if": "off",
    "no-redeclare": "off",
    "import/named": "off",
    "no-unneeded-ternary": "off"
  }
}
