target/
node_modules/
dist/
.cargo/
.hc*
*.dna
*.happ
*.webhapp
web_assets.zip
DevHub/web-app
testing-applets/
.running

# custom holochain binaries
holochain-v0.0.155-x86_64-unknown-linux-gnu
holochain-v0.0.156-x86_64-unknown-linux-gnu
